<%= form_for access_log, html: { :multipart => true } do |f| %>
  <% if access_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(access_log.errors.count, "error") %> prohibited this access_log from being saved:</h2>

      <ul>
      <% access_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>

  <div class="field">
    <%= f.label :DateAndCompany %>
    <%= f.text_field :DateAndCompany %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
