<p id="notice"><%= notice %></p>

<p>
  <strong>Ticketno:</strong>
  <%= @ticket.TicketNo %>
</p>

<p>
  <strong>Companyname:</strong>
  <%= @ticket.CompantName %>
</p>

<p>
  <strong>Customername:</strong>
  <%= @ticket.CustomerName %>
</p>

<p>
  <strong>Handler:</strong>
  <%= @ticket.Hundler %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.Description %>
</p>

<p>
  <strong>Responsetime:</strong>
  <%= @ticket.ResponseTime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.Status %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
